# Node modules
node_modules/
openmate-ui/node_modules/
mcp/node_modules/

# Optional: log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: environment files
.env

# openmate ui build files
openmate-ui/dist
openmate-ui/out
openmate-ui/.webpack
